<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jot Jellybean Weather</title>
    <meta name="description" content="A simple weather app scaled up from a Coding Dojo assignment">
    <link rel="stylesheet" href="/templates/style.css">
<!--
    .........................................................
    ..............................M  ........................
    ..............................MMMM.......................
    ...............................MMMM.................... .
    ................................M.MMD....................
    ................................M,.+MM...................
    ..........................  ....M+.:+MM. ................
    .........................,MM...DM=++~+MM.................
    ....................... MMMM .~M:,,:,,.MM................
    ......................NMN+MMMMMO.~,.?,..MM...............
    .................... MM=,:::?~:~=~~?~+..:M. .............
    .. .  . .  . .  . .NMN.~~~:..~~~~~=,:,~~~MM .............
    ................. MM.:~=:,.+...=,...,.:~~+MO.............
    ................~MM.:,::~:,+,,.......,+~=~MM.............
    ...............MM=,~~:8MM........MM,=,,=::MM ............
    ..............MM+=~~::MM.........MMM,::=~:MM.............
    .............MM?:,~~:MMM.........MMM=.=::?MM ............
    ............MM.,,,::MMMM....=OZ..MMMM.=~~:MM ............
    ..... .... MM,~:..:,MMMMMMMMMMMMMMMMM~.:~~MD ............
    ..........,M+,,.,~=OMMM........MMNMMMM,~~=M ...MM .......
    ..........MM,=:.=?NMM........MMMMMMMMMI~~OM...:MMN.......
    ..........M=,:.~?MM .........MMMMMMMMM+,?NM ..MM=M.......
    .........NM?=:~.MM ..........,MMMMMMMM?=,8M,.MM.,MM .....
    .........MM::...M: ............$MMM  MM::,MMMM+,.MM .....
    .........MM:~?~~M.....................MN?:,:,:++~=M......
    .........?M~.=,+M.....................MM.::.+.,=.~MM.....
    ..........MD?.:,MN....................8M++++,,::::MM.....
    ..........MM.~~~DM,...................~M+++?+,=~::$M ....
    ..........MM+~~~?NMM. ................:M++++~,~~~~=M.....
    ......M...MM~~~:?++MMMD...............DM++++::~~~~~M.....
    .....MMM..MM:~~:+++MMMNMM ............MM=+++:..~~~~M.....
    .....MNMMMM~=~~,+MMM..................MM++++,.~~~~MM.....
    .....M,~+,,=+:~=MM....................MZ+MMMM=,~~:MM.....
    .....M.~.:..,:?MM....................IMMM=+IMM.=~+M......
    .....M=~~::::?MM.....................MMM++~IMM::+MM......
    .....MM:~~:,++MM....................~MM++++7MM.~+MM .....
    .....MM~~~~~:?MM....................MM?+++IIMM~~ZM.......
    ......M?,~:,::MM...................MM+++++?7MM~~MM.......   
    ......MM:.:::,=M7.................MM+++++=77M~:NM  ......
    .. . ..M$.~::~~MM...............=MM+++++?IIMM.+M,     ...
    .... ..MM:=:,~~+MM.............MM~++++++?IMM:.MM.........
    ........MM.~::~,?MMM.......MMMM=+++==++IIMM~?MM .........
    .........M:+.~:~~++MMMMMMMMN=+++=+++++?IMM~?MM ..........
    .........MM~~?~~,++===,~+===:=+==+=~,.MMN~IMM............
    ..........DMMI~~:...... . .  ...  .NMM,=~=NM.............
    ............MM ......OMMMMMMMMMMMMMM ..,~.M. ............
    ................M  .NM  MM ..............................
    .              .MMM+MMMMM. ..............................
    .................MMMMMMM.................................
    .................ZMMMMN..................................
    .                 MMMM................................... 
    ...................MM....................................
    ................... . ...................................
    .........___......_ _......._............................
    ........|_  |....| | |.....| |...........................
    ..........| | ___| | |_   _| |__   ___  __ _ _ __........
    ..........| |/ _ \ | | | | | '_ \ / _ \/ _` | '_ \.......
    ....../\__/ /  __/ | | |_| | |_) |  __/ (_| | | | |......
    ......\____/ \___|_|_|\__, |_.__/ \___|\__,_|_| |_|......
    .......................__/ |.............................
    ......................|___/..............................
    ......______........................_   _......_ _ ......
    ......|  ___|......................| | | |....| | |......
    ......| |_ _ __ ___  _ __ ___ .....| |_| | ___| | |......
    ......|  _| '__/ _ \| '_ ` _ \ ....|  _  |/ _ \ | |......
    ......| | | | | (_) | | | | | |....| | | |  __/ | |......
    ......\_| |_|  \___/|_| |_| |_|....\_| |_/\___|_|_|......
    .........................................................
-->
</head>
<body>
<div class="navBar">
    <h1 class="title">Jot Jellybean Weather</h1>
    <img src="./img/JellyBeanFromHell.png" alt="" class="navBarImg">
    <ul class="links">
        <li class="cities"><a onclick="linkOChango(this)">Burbank</a></li>
        <li class="cities"><a onclick="linkOChango(this)">Chicago</a></li>
        <li class="cities"><a onclick="linkOChango(this)">Dallas</a></li>
        <li class="cities"><a onclick="linkOChango(this)">New York</a></li>
    </ul>
</div>
<div class="mainCont">
    <div class="cityHeader">
        <h1 id="currentCity">Lorem</h1>
        <p>show temperature in <select name="unit" class="unit" id="unit" onchange="celsioso()">
            <option value="fahrenheit">&deg; F</option>
            <option value="celsius">&deg; C</option>
        </select></p>
    </div>
    <div class="cardCase">
        <div class="weatherCard" id="todayCard">
            <h2>Today</h2>
            <img src="./img/some_sun.png" alt="Today's Weather" class="image" id="todayImg">
            <p id="todayText"></p>
            <p><span class="highTemp" id="todayHTemp">42&deg;</span><span class="lowTemp" id="todayLTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="tomorrowCard">
            <h2>Tomorrow</h2>
            <img src="./img/some_sun.png" alt="Tomorrow's Weather" class="image" id="tomorrowImg">
            <p id="tomorrowText">Lorem</p>
            <p><span class="highTemp" id="tomorrowHTemp">42&deg;</span><span class="lowTemp" id="tomorrowLTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="day3Card">
            <h2 id="day3Name">Lorem</h2>
            <img src="./img/some_sun.png" alt="Day 3's Weather" class="image" id="day3Img">
            <p id="day3Text">Lorem</p>
            <p><span class="highTemp" id="day3HTemp">42&deg;</span><span class="lowTemp" id="day3LTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="day4Card">
            <h2 id="day4Name">Lorem</h2>
            <img src="./img/some_sun.png" alt="Day 4's Weather" class="image" id="day4Img">
            <p id="day4Text">Lorem</p>
            <p><span class="highTemp" id="day4HTemp">42&deg;</span><span class="lowTemp" id="day4LTemp">42&deg;</span></p>
        </div>
    </div>
</div>
<div class="cookieAlert" id="cookieAlert">
    <img src="./img/cookie.png" alt="an alert icon" class="alert">
    <p>This site makes use of third-party cookies, by clicking "I accept"<br>you agree to the terms outlined in our <a href="https://youtu.be/iCFOcqsnc9Y">cookie policy.</a></p>
    <button id="cookieAccept" onclick="cookieMonster()">I Accept</button>
</div>

<script src="/templates/script.js"></script>
</body>
</html>