<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jot Jellybean Weather</title>
    <meta name="description" content="A simple weather app scaled up from a Coding Dojo assignment">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<!--
    ..............................M..........................
    ..............................M..........................
    ..............................MMMM.......................
    ...............................MMMM......................
    ................................M.MMD....................
    ................................M...MM...................
    ...........................M....M....MM. ................
    .........................,MM...DM.....MM.................
    ........................MMMM...M:......MM................
    ......................NMN.MM.MMO........MM...............
    .................... MM....:M...........:M...............
    ...................NMN...................MM..............
    ................. MM......................MO.............
    ................~MM.....M........M........MM.............
    ...............MM.....8MM........MM.......MM.............
    ..............MM.....MMM.........MMM......MM.............
    .............MM.....:MMM.........MMM......MM.............
    ............MM......MMMM.MMMMMM..MMMM.....MM...M.........
    ...........MM......:MMM........MMMMMMM....MD...M.........
    ..........MM.......MM..........MMNMMMM....M....MM........
    ..........MM......M..........MMMMMMMMM:..OM...:MMN.......
    .........:M......MM..........MMMMMMMMM...NM...MM.M.......
    .........NM.....MM...O........MMMMMMMM...8M..MM..MM......
    .........MM.....M:..OO................M...MMMM...MM......
    .........MM.....M...O.................MN..........M......
    .........:M.....M.....................MM:.........MM.....
    ..........MD....MN.....................MN.........MM.....
    ..........MM....DM.....................MM.........MM.....
    ......M...MM.....NMM..................:MM..........M.....
    ......M...MM......?M.MD:,..............MM..........M.....
    .....M:M..MM.....M:...................:M:..........M.....
    .....M.MMMM:....MM....................MM..........MM.....
    .....M.........MM.....................MM:MMMM.....MM.....
    .....M........:M.....................:MMM..:MM....M:.....
    .....M........MM.....................MMM...:MM...MM......
    .....MM.......MM....................:MM.....MM...MM......
    .....MM.......MM....................MM......MM..ZM.......
    ......M......:MM...................MM.......MM..MM.......
    ......MM......:M:.................MM........M:.NM........
    .......M.......MM................MM........:M.:M.........
    .......MM:.....:MM.............MM.........:M:.MM.........
    ........MM......?MMM........MMM..........:M.:MM..........
    .........M:........:MMMMMMM:............M:..MM...........
    .........:M...........................MM...MM............
    ..........:MM.......................MM....NM.............
    ............MM.......NMMMMM:.....MMM......M..............
    ................N...NM..M: .MMMMMM.......................
    ................MMM+MMMMM. ..............................
    .................MMMMMMM.................................
    .................ZMMMMN..................................
    ..................MMMM................................... 
    ...................MM....................................
    ....................M....................................
    .........___......_ _......._............................
    ........|_  |....| | |.....| |...........................
    ..........| | ___| | |_   _| |__   ___  __ _ _ __........
    ..........| |/ _ \ | | | | | '_ \ / _ \/ _` | '_ \.......
    ....../\__/ /  __/ | | |_| | |_) |  __/ (_| | | | |......
    ......\____/ \___|_|_|\__, |_.__/ \___|\__,_|_| |_|......
    .......................__/ |.............................
    ......................|___/..............................
    ......______........................_   _......_ _ ......
    ......|  ___|......................| | | |....| | |......
    ......| |_ _ __ ___  _ __ ___ .....| |_| | ___| | |......
    ......|  _| '__/ _ \| '_ ` _ \ ....|  _  |/ _ \ | |......
    ......| | | | | (_) | | | | | |....| | | |  __/ | |......
    ......\_| |_|  \___/|_| |_| |_|....\_| |_/\___|_|_|......
    .........................................................
-->

</head>
<body>
<div class="navBar">
    <h1 class="title">Jot Jellybean Weather</h1>
    <img src="{{ url_for('static', filename='img/JellyBeanFromHell.png') }}" alt="" class="navBarImg">
    <ul class="links">
        <li class="cities"><a onclick="linkOChango(this)">Burbank</a></li>
        <li class="cities"><a onclick="linkOChango(this)">Chicago</a></li>
        <li class="cities"><a onclick="linkOChango(this)">Dallas</a></li>
        <li class="cities"><a onclick="linkOChango(this)">New York</a></li>
    </ul>
</div>
<div class="mainCont">
    <div class="cityHeader">
        <h1 id="currentCity">Lorem</h1>
        <p>show temperature in <select name="unit" class="unit" id="unit" onchange="celsioso()">
            <option value="fahrenheit">&deg; F</option>
            <option value="celsius">&deg; C</option>
        </select></p>
    </div>
    <div class="cardCase">
        <div class="weatherCard" id="todayCard">
            <h2>Today</h2>
            <img src="{{ url_for('static', filename='img/some_sun.png') }}" alt="Today's Weather" class="image" id="todayImg">
            <p id="todayText"></p>
            <p><span class="highTemp" id="todayHTemp">42&deg;</span><span class="lowTemp" id="todayLTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="tomorrowCard">
            <h2>Tomorrow</h2>
            <img src="{{ url_for('static', filename='img/some_sun.png') }}" alt="Tomorrow's Weather" class="image" id="tomorrowImg">
            <p id="tomorrowText">Lorem</p>
            <p><span class="highTemp" id="tomorrowHTemp">42&deg;</span><span class="lowTemp" id="tomorrowLTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="day3Card">
            <h2 id="day3Name">Lorem</h2>
            <img src="{{ url_for('static', filename='img/some_sun.png') }}" alt="Day 3's Weather" class="image" id="day3Img">
            <p id="day3Text">Lorem</p>
            <p><span class="highTemp" id="day3HTemp">42&deg;</span><span class="lowTemp" id="day3LTemp">42&deg;</span></p>
        </div>
        <div class="weatherCard" id="day4Card">
            <h2 id="day4Name">Lorem</h2>
            <img src="{{ url_for('static', filename='img/some_sun.png') }}" alt="Day 4's Weather" class="image" id="day4Img">
            <p id="day4Text">Lorem</p>
            <p><span class="highTemp" id="day4HTemp">42&deg;</span><span class="lowTemp" id="day4LTemp">42&deg;</span></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>